//Font
$fontFamily: 'Oswald', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;
$lineHeight: 1;
$fontSize: 14px;

//Color
$white: #fff;
$pink: #ff6e8d;

//header
$topHeaderBg: #ff6e8d;
$brightPink: #FD007C;
$navColor: #6b2434;

//button
$colorBtn: #ff6e8d;